:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #646cff;
  --secondary-color: #535bf2;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 1rem;
}

input {
  background-color: #2a2a2a;
  color: var(--text-color);
  border: 1px solid #444;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.input-value {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  overflow-wrap: break-word;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 200px; /* Largura fixa para todos os botões */
  height: 40px; /* Altura fixa para todos os botões */
  display: inline-flex; /* Permite centralizar o texto verticalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  font-size: 14px; /* Tamanho de fonte consistente */
  white-space: nowrap; /* Evita quebra de linha no texto do botão */
  overflow: hidden; /* Esconde o texto que ultrapassar o tamanho do botão */
  text-overflow: ellipsis; /* Adiciona reticências (...) ao texto que ultrapassar */
}

button:hover {
  background-color: var(--secondary-color);
}

.component-container {
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}